/*******************************
		Google Fonts
********************************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900&display=swap');

/*******************************
		Global CSS
********************************/

*{
 	margin:0;
 	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
}
h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}
h2,h3,h4,h5{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
h6,a,ul,li{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
p,span,input{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}


/*******************************
		header section css
********************************/

header{
	width: 100%;
	padding-top: 140px;
	padding-bottom: 60px;
	min-height: 100vh;
}
.navbar-light .navbar-nav .nav-link{
	color: white !important;
    text-transform: uppercase;
    margin-right: 30px;
}
.navbar-light .navbar-nav .active>.nav-link{
	color: #e550ed !important;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: #e550ed !important;
}

.banner h1{
	margin-top: 240px;
	font-size: 42px;
	color: #fff;
}
.banner h6{
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	padding-bottom: 30px;
}
.banner button{
	background: #e550ed;
	border-color: #e550ed;
	color: #fff;
	font-weight: 600;
	border-radius: 0;
	text-transform: uppercase;
	transition: 0.5s ease-in-out;
}
.banner button .btn-primary:hover{
	background: #00dde4 !important;
	border-color: #00dde4 !important;
	transform: scale(1.2);
	transition: 0.5s ease-in-out;
}
/*******************************
		service section css
********************************/
.service{
	padding: 100px 0;
	width: 100%;
}
.service .col-md-4{
	text-align: center;
	padding: 0 100px;
}
.service img{
	margin-bottom: 20px;
}
.service h6{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
.service p{

}

/*******************************
		course section css
********************************/
.course{
	width: 100%;
	background-color: #432e8b;
	padding: 100px 0;
}
.course .col-md-12{
	text-align: center;
	color: #fff;
	padding-bottom: 80px;
}
.course .col-md-4{

}
.course .col-md-4 .image{
	height: 264px;
	width: 276px;
	background: #00dde4;
	position: relative;
	margin-bottom: 40px;
}
.course .col-md-4 .image img{
	position: absolute;
	top: 6%;
	left: 6%;
}
.course .col-md-4 .content{
	padding: 0px 152px 0 17px;
}
.course .col-md-4 .content h5{
	font-weight: 600;
	color: #00dde4;
	font-size: 26px;
}
.course .col-md-4 .content p{
	font-weight: 400;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 20px 0;
}
.course .col-md-4 .content .button{
	height: 40px;
    text-align: center;
    background: #e550ed;
    border-color: #e550ed;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0;
    line-height: 40px;
    text-transform: uppercase;	
	transition: 0.5s ease-in-out;
}
.course .col-md-4 .content .button:hover{
	color: #000;
	transform: scale(1.2);
	transition: 0.5s ease-in-out;	
}

/*******************************
		course section css
********************************/

.about-us{
	width: 100%;
	background: #fff;
	position: relative;
}
.second-color{
	width: 50%;
	height: 35%;
	background: #00dde4;
	position: absolute;
}
.about-us .container{
	padding: 100px 0;
}
.about-us .left-image img{
	width: 82%;

}
.about-us .content{
	padding-top: 30px;
	padding-right: 200px;
}
.about-us .content h5{
	font-weight: 600;
	color: #00dde4;
	font-size: 26px;
	margin-bottom: 20px;
}
.about-us .content span{
	font-weight: 600;
	color: #000;
	font-size: 16px;	
}
.about-us .content p{
	font-weight: 400;
    color: #000;
    font-size: 16px;
    padding: 20px 0;
}
.about-us .content .button{
	height: 40px;
	width: 140px;
    text-align: center;
    background: #e550ed;
    border-color: #e550ed;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0;
    line-height: 40px;
    text-transform: uppercase;	
	transition: 0.5s ease-in-out;
}
.about-us .content .button:hover{
	color: #000;
	transform: scale(1.2);
	transition: 0.5s ease-in-out;
}

/*******************************
		instructors section css
********************************/

.instructor{
	width: 100%;
	background: #432e8b;
	padding: 100px 0;
}
.instructor .col-md-12{
	text-align: center;
}
.instructor .col-md-12 h5{
	font-weight: 600;
	color: #fff;
	font-size: 26px;
	margin-bottom: 20px;
}
.outer-box{
	margin-top: 50px;
	padding: 0 80px;
}
.outer-box .image{
	position: relative;
}
.outer-box .image .info{
	width: 70%;
    height: 100px;
    background: #00dde4;
    margin: 0 auto;
    padding: 30px 0;
    position: absolute;
    overflow: hidden;
    bottom: -36px;
    left: 60px;
}
.outer-box .icon{
	padding-top: 60px;
}
.outer-box .icon ul li{
	list-style: none;
	display: inline-block;
	margin-left: 10px;
}
.outer-box .icon ul li a{
	text-decoration: none;
}
.outer-box .icon ul li a i{
	height: 30px;
	width: 30px;
	text-align: center;
	color: #432e8b;
	background: #fff;
	border-radius: 50%;
	line-height: 30px;
	transition: 0.3s ease-in-out;
}
.outer-box .icon ul li a i:hover{
	transform: scale(1.2);
	color: #000;
	transition: 0.3s ease-in-out;
}

/*******************************
		instructors section css
********************************/

.review{
	width: 100%;
	padding: 100px 0;
	text-align: center;
}
.review h2{
	color: #00dde4;
}
.review p{
	color: white;
	font-style: italic;
	padding: 0 200px;
}
.review .item{
	margin-top: 120px;
}

/*******************************
		Gallery section css
********************************/
.gallery{
	width: 100%;
	padding-top: 40px;
}
.gallery .container-fluid .col-md-12{
	margin: 0;
	padding: 0;
}
.gallery .container .row{
	margin: 30px 0;
}
.gallery .container h5{
	font-weight: 700;
	color: #00dde4;
	font-size: 26px;
	text-align: center;
}
.gallery .container p{
	text-align: center;
	text-transform: uppercase;
}
.gallery .content p{
	padding: 30px 0 15px 0;
	text-align: center;
	text-transform: uppercase;
}

/*******************************
		Footer section css
********************************/

.app{
	width: 100%;
}
.app .image img{
	width: inherit;
}
.app .image{
	width: inherit;
	position: relative;
}
.app .image h2{
	color: #fff;
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 15%;
    right: 14%;
}
.app .image .button{
    height: 50px;
    width: 190px;
    text-align: center;
    background: #00dde4;
    border-color: #00dde4;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0;
    line-height: 50px;
    position: absolute;
    right: 16.5%;
    bottom: 10%;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}
.app .image .button:hover{
	color: #000;
	cursor: pointer;
	transform: scale(1.2);
	transition: 0.5s ease-in-out;
}
/*******************************
		Registration section css
********************************/

.register{
	width: 100%;
}
.register .col-md-4{
	margin: 100px;
}
.register h2{
	color: #00dde4;
	font-size: 35px;
}
.register p{
	color: white;
	letter-spacing: 1px;
	margin: 20px 0;
}
.register .button{
	height: 50px;
    width: 190px;
    text-align: center;
    background: #00dde4;
    border-color: #00dde4;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}
.register .button:hover{
	color: #000;
	cursor: pointer;
	transform: scale(1.2);
	transition: 0.5s ease-in-out;
}
/*******************************
		Footer section css
********************************/

footer{
	width: 100%;
	background: #432e8b;
	padding: 50px 0;
}
.footer-two, .footer-three{
	padding-top: 50px;
}
.footer-one{
	margin:0 10px;
}
.footer-one .image img{
	margin-left: 40px;
}
.footer-one h2{
	color: #00dde4;
	font-size: 35px;
	margin-right: 90px;
	margin-top: 20px;
	line-height: 30px;
}
.footer-one p{
	color: white;
	letter-spacing: 1px;
}

.footer-two h6{
	color: #00dde4;
	font-size: 20px;
	font-weight: 600;
}
.footer-two .footer-menu{
	margin-top: 30px;
}
.footer-two ul li{
	list-style: none;
	margin: 5px 0;
}
.footer-two ul li a{
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	margin: 10px 0;
	transition: 0.3s ease-in-out;
}
.footer-two ul li a:hover{
	text-decoration: none;
	color: #00dde4;
	margin-left: 10px;
	transition: 0.3s ease-in-out;
}

.footer-three h6{
	color: #00dde4;
	font-weight: 600;
	font-size: 20px;
}
.footer-three{

}
.footer-three .content{
	margin-top: 30px;
}
.footer-three .content p{
	font-weight: 400;
	color: white;
	letter-spacing: 1px;
}
.footer-icon ul li{
	list-style: none;
	display: inline-block;
	margin-right: 10px;
}
.footer-icon ul li a{
	text-decoration: none;
} 
.footer-icon ul li a i{
	height: 30px;
	width: 30px;
	font-size: 18px;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
	background: #fff;
	color: #432e8b;
	transition: 0.2s ease-in-out;
} 
.footer-icon ul li a i:hover{
	background: #00dde4;
	border-color: #00dde4;
	transform: scale(1.2);
	transition: 0.2s ease-in-out;
}


